<html>
  <head>
    <title>Order {{ order }}</title>
    <style> {% include  'main.css' %} </style>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />

  </head>
  <body>
    <a href='admin/' class="button" id="buy-button"> Go to Admin panel</a>
    <h1>Order № {{ order }}</h1>

    <div class="catalog">
    <div class="item_row_header">
        <div class="field_id"> id </div>
        <div class="field_name"> Name </div>
        <div class="field_price"> Price </div>
        <div class="field_currency"> Currency </div>
        <div class="field_name"> Amount </div>
        <div class="field_name"> Calc price, {{ currency }} </div>
    </div>
    <form action="make_order" method="post">
        {% csrf_token %}
        {% for i in table %}
            <div class="item_row">
                <div class="field_id">{{ i.item_id }}</div>
                <div class="field_name">{{ i.name }}</div>
                <div class="field_price">{{ i.price }}</div>
                <div class="field_currency">{{ i.currency }}</div>
                <div class="field_id">{{ i.amount }}</div>
                <div class="field_price">{{ i.calc_price }}</div>
            </div>
        {% endfor %}
        <br>
        <a href={{ url }} class="button">Buy</a>
    </form>
    </div>

  </body>
</html>